@charset "utf8";

html, body {
	margin: 0;
	padding: 0;
	font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', sans-serif;
	color: #fff;
	background: #94b7b4;
}

main {
	display: block;
	text-align: center;
	max-width: 512px;
	margin: 0 auto;
	padding: 0px 16px;
}

h1 {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: normal;
}

#avatar {
	display: block;
	margin: 64px auto 32px auto;
	max-width: 128px;
	border-radius: 100%;
	box-shadow: 0 0 0 8px #8caba8;
}

#bio {
	display: block;
	margin: 0;
	padding: 1em;
}

#links {
	display: block;
	margin: 64px 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
	#links li {
		display: inline-block;
		margin: 0 8px;
		padding: 0;
		font-size: 1rem;
	}
		#links li a {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 1.5em;
			color: #fff;
			border: solid 1px #fff;
			border-radius: 100%;
			transition: all 0.2s ease;
		}
		#links li a:hover {
			background: #fff;
			color: #94b7b4;
		}
			#links li a i {
				display: inline-block;
				width: 2em;
				line-height: 2em;
				text-align: center;
			}
